.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.text-center{
	text-align: center;
}

.drop-area{
	border: 5px dashed #DDD;
	font-size: 30px;
	line-height: 32px;
	font-weight: bolder;
	text-align: center;
}

.drop-area-over{
	border-color: #428BCA;
	color: #428BCA;
}

.drop-area .filename{
	line-height: 16px;
	font-size: 13px;
	color: #3C763D;
}